.dd{
  margin-top:4vh; 
  margin-left: 5.5vh;
  margin-right: 5.5vh;
  min-width: 12em;
  display: inline-block;
  min-height: 2em;
  max-height:2em;
  overflow:hidden; 
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  color: #444;
  outline: none;
  border: .06em solid black;
  border-radius: 0.3em;
}